.header {
  height: 10vh;
  width: 100%;
  position: relative;
  background-color: white;
  color: white;
  display: flex;
  font-size: 2vh;
}

.img {
  display: flex;
  position: absolute;
  height: 10vh;
}

.h1 {
  clear: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  align-items: center;
}

.h1 a,
a:visited {
  text-decoration: none;
  color: var(--light-text);
}
