#header {
  position: static;
  font-size: calc(5px + 2vmin);
  height: 5%;
  left: 33%;
  top: 0%;
  text-align: center;
}
  
#leftheader {
  width: 40%;
  position: absolute;
  font-size: calc(5px + 2vmin);
  height: 5%;
  left: 7%;
  top: 44%;
  text-align: center;
}
  
#rightheader {
  width: 40%;
  position: absolute;
  font-size: calc(5px + 2vmin);
  height: 5%;
  left: 53%;
  top: 44%;
  text-align: center;
}